<% if type == :new %>
  <% action_url = bands_url %>
  <% button_value = "Create!" %>
<% elsif type == :edit %>
  <% action_url = band_url(band) %>
  <% button_value = "Edit!" %>
<% end %>

<form action="<%= action_url %>" method="post">
  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token %>">

  <% if type == :edit %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <label>Name:
  <input type="text" name="band[name]" value="<%= band.name %>"></label>

  <input type="submit" value="<%= button_value %>">

</form>
