<!-- "bands index" -->
<h1>All Bands</h1>

<% @bands.each do |band| %>
<ul>
  <li><a href="<%= band_url(band) %>"><%= band.name %></a></li>
</ul>
<% end %>

<a href="<%= new_band_url %>">Add a band</a>
